@import url(./variables.css);
@import url(/css/header.css);
@import url(/css/button.css);
@import url(/css/hero.css);
@import url(/css/informacion.css);
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.wrape {
  max-width: 72.37rem;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: var(--greey-ligth);

  font: var(--body-p1-regula);
  color: var(--grey);
}
