.opiniones__img {
  display: flex;

  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.opiniones--modificador {
  width: 50px;
  height: 50px;
}
.opiniones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.opiniones__titulo {
  margin: 0px;
}

.opiniones__epliseExterno {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 50%;
  border: 0.5px solid var(--primary);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.opiniones__titulo {
  font: var(--h3);
  color: var(--blue-dark);
}

.opiniones__epliseInterno {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border-top: 0.5px solid var(--primary);
  border-bottom: 0.5px solid var(--primary);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.opiniones__cuadroTexto {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1px;
  align-items: center;
  width: 90%;
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: var(--blue-dark);
  font: var(--body-p1-regular);
  background-color: var(--white);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.opiniones__cuadroTexto p {
  margin: 0px;
}
.opiniones__cliente {
  font: var(--h4);
}

.opiniones__contenedor1 {
  position: absolute;
  top: 60px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.opiniones__contenedor2 {
  position: absolute;
  bottom: 70px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
@media screen and (max-width: 690px) {
  .opiniones__cuadroTexto {
    width: auto;
    height: auto;
    font: var(--body-p3-regular);
    text-align: justify;
  }
  .opiniones__cuadroTexto p {
    line-height: 30px;
  }
  .opiniones__clientes {
    font: var(--h4);
  }

  .opiniones__img {
    width: 35px;
    height: 35px;
  }
  .opiniones__titulo {
    font: var(--h4);
  }
}
